header {
    background-color: blue;
    color: black;


}
body{
    background-color: aqua;
    color: aqua;
}
footer{
    background-color: black;
    color: white;
}
.imagem-2{
    width: 40%;
    align-items: center;
    margin-left: 200px;
}
